<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'report_list' %}">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts/">Contact</a>
    </li>

    {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="nav-link">Halo, {{ user.username }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
</ul>