{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacts</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <h2 class="page-title mb-4">Contacts</h2>

        <div class="table-responsive">
            <table class="table table-bordered">
                <tr><th style="width: 220px;">Nama</th><td>Nicy Putra Pratama</td></tr>
                <tr><th>Program Studi</th><td>TRI</td></tr>
                <tr><th>Jurusan</th><td>TI</td></tr>
                <tr><th>NPM</th><td>24782057</td></tr>
                <tr><th>Jenis Kelamin</th><td>Laki-laki</td></tr>
                <tr><th>Hobi</th><td>Main Free Fire</td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}